* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


body {
    overflow-x: hidden; 
}

/* Container para o conteúdo */
.content-container {
    position: relative;
    overflow: hidden;
    padding-top: 20px; 
    width: 100%;
}

/* Imagem de fundo */
.background-image {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 97%;
    background-image: url('fundoazul.png'); 
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    opacity: 0.7; 
    z-index: -1; 
}

/* Estilo da barra de navegação */
.navbar {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    position: sticky;
    top: 0;
    z-index: 1000;
    background: transparent;
}

.nav-links {
    display: flex;
    align-items: center;
    list-style: none;
    padding: 0;
    margin: 0;
}

.nav-links li {
    margin: 0 5.208333333333333vw;
    display: inline-block; 
}

.nav-links a {
    text-decoration: none;
    color: #D7DBDE;
    font-size: 1.171875vw;
    transition: color 0.3s;
    font-family: 'Rhodium Libre', sans-serif;
}

.nav-links a:hover {
    color: #446480;
}

.logo {
    width: 9.765625vw; 
    opacity: 88%;
}

.banner_imagem {
    max-width: 100%;
    height: auto;
    display: block;
    margin: 0 auto;
    padding-top: 6.25vw; 
}

.banner p {
    position: absolute;
    top: 30%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    color: #FF3A58;
    font-size: 5.078125vw;
    font-family: 'Rouge Script', cursive;
    opacity: 70%;
}

#p2 {
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    color: #FF3A58;
    font-size: 6.119791666666667vw;
    font-family: 'Slackside One', cursive;
    opacity: 100%;
}

#p3 {
    position: absolute;
    top: 52%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    color: #FF3A58;
    font-size:  3.7760416666666665vw;
    font-family: 'Rouge Script', cursive;
    opacity: 70%;
}

.video-button {
    position: absolute;
    top: 72%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: inline-block;
    padding: 1.3vw 2vw;
    font-size: 0.92vw;
    color: #fff;
    background-color: #88AEC3;
    opacity: 80%;
    border: none;
    border-radius: 1.953125vw;
    text-align: center;
    text-decoration: none;
    font-family: Rokkitt;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.section-background {
    background-color: #FAC695; 
    padding: 1.3020833333333333vw 0; 
    margin-top: -1.6276041666666667vw;
    height: 53vw;
}

.image-container {
    display: flex;
    margin-top: 4.50703125vw;
    margin-left: 16.3359375vw;
    gap: 11.5234375vw;
}
  
.melancia {
    position: relative; 
    display: inline-block;
}

.melancia img {
    width: 14.4140625vw; 
    height: auto; 
    margin-top: 0.9609375vw;
}

.melancia button {
    position: absolute; 
    bottom: -2.2786458333333335vw; 
    left: 50%; 
    transform: translateX(-50%);
    background-color: #FFD7B1; 
    border: none; 
    color: white; 
    padding: 0.4557291666666667vw 1.171875vw; /* Espaçamento interno */
    text-align: center; /* Alinhamento do texto */
    text-decoration: none; /* Remove sublinhado de links */
    display: inline-block; 
    font-size: 1.0416666666666667vw; 
    font-family: Rajdhani; 
    border-radius: 1.953125vw;
    box-shadow: 0.3255208333333333vw 0.3255208333333333vw 0.6510416666666666vw rgba(0, 0, 0, 0.2); 
    cursor: pointer; 
    transition: background-color 0.3s ease; 
}
.Caipirinha {
    position: relative; 
    display: inline-block;
}

.Caipirinha img {
    width: 15.134765625vw; 
    height: auto; 
}

.Caipirinha button {
    position: absolute; 
    bottom: -2.2786458333333335vw;
    left: 50%; 
    transform: translateX(-50%);
    background-color: #FFD7B1; 
    border: none; 
    color: white; 
    padding: 0.4557291666666667vw 1.171875vw; 
    text-align: center; 
    text-decoration: none; 
    display: inline-block; 
    font-size: 1.0416666666666667vw;
    font-family: Rajdhani; 
    border-radius: 1.953125vw; 
    box-shadow: 0.3255208333333333vw 0.3255208333333333vw 0.6510416666666666vw rgba(0, 0, 0, 0.2); 
    cursor: pointer; 
    transition: background-color 0.3s ease;}

.FIT {
    position: relative; 
    display: inline-block;
}

.FIT img {
    width: 14.558203125vw; 
    height: auto;
    margin-top: 0.9609375vw;
}

.FIT button {
    position: absolute;
    bottom: -2.2786458333333335vw; 
    left: 50%; 
    transform: translateX(-50%);
    background-color: #FFD7B1; 
    border: none; 
    color: white;
    padding: 0.4557291666666667vw 1.171875vw; 
    text-align: center; 
    text-decoration: none; 
    display: inline-block; 
    font-size: 1.0416666666666667vw; 
    font-family: Rajdhani; 
    border-radius: 1.953125vw; 
    box-shadow: 0.3255208333333333vw 0.3255208333333333vw 0.6510416666666666vw rgba(0, 0, 0, 0.2); 
    cursor: pointer; 
    transition: background-color 0.3s ease; 
}

.background-box {
    background-color: #FFF9BE;
    height: 29vw;
    width: 79vw;
    margin-top: -24.7vw;
    margin-left: 10%;
    border-radius: 2vw;
}

.circle-container {
    display: flex;
    gap: 7.161458333333333vw;
    flex-wrap: wrap;
    justify-content: center;
    margin-top: 4vw;
}

.circle {
    background-color: #FFD9B3;
    border-radius: 50%;
    width: 13.020833333333334vw;
    height: 13.020833333333334vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 1.3020833333333333vw;
    box-shadow: 0 0.2604166666666667vw 0.5208333333333334vw rgba(0, 0, 0, 0.1);
    box-sizing: border-box; 
}

.circle h2 {
    font-family: Rampart One;
    font-size: 2.5vw;
    color: #BA5900;
    opacity: 83%;
}

#segundop {
    font-family: Rampart One;
    font-size: 1.2vw;
    color: #BA5900;
    opacity: 83%;
}

.circle p {
    font-family: Cabin;
    font-size: 1.6vw;
    color: #CE6B0F;
    opacity: 55%;
    margin:   0.3255208333333333vw 0;
}

#picoles {
    font-family: Kalam;
    font-size: 1.8vw;
    color: #CE6B0F;
    opacity: 55%;
}

.bold {
    font-family: Rampart One;
    font-size: 1.5vw;
    color: #BA5900;
    opacity: 83%;
}

@keyframes shake {
    0% { transform: translate(1px, 1px) rotate(0deg); }
    10% { transform: translate(-1px, -2px) rotate(-1deg); }
    20% { transform: translate(-3px, 0px) rotate(1deg); }
    30% { transform: translate(3px, 2px) rotate(0deg); }
    40% { transform: translate(1px, -1px) rotate(1deg); }
    50% { transform: translate(-1px, 2px) rotate(-1deg); }
    60% { transform: translate(-3px, 1px) rotate(0deg); }
    70% { transform: translate(3px, 1px) rotate(-1deg); }
    80% { transform: translate(-1px, -1px) rotate(1deg); }
    90% { transform: translate(1px, 2px) rotate(0deg); }
    100% { transform: translate(1px, -2px) rotate(-1deg); }
}

.circle:hover {
    animation: shake 0.5s;
    animation-iteration-count: infinite;
}


footer {
    background-color: #bcd8df;
    padding: 1.5vw 0;
    position: relative;
}

.footer-container {
    
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    max-width: 78.125vw;
    margin: 0 auto;
    padding: 0 0.06510416666666667vw;
    font-family: Alegreya;
}

.contact-info {
    flex: 1;
    padding-left: 0;
    margin-left: -6.510416666666667vw;
    opacity: 70%;
}

.contact-info p {
    margin: 3.2552083333333335vw 0;
}

.social-media {
    display: flex;
    justify-content: center;
    align-items: center;
    flex: 1;
    margin-top: 11.067708333333334vw;
}

.social-media a {
    display: flex;
    align-items: center;
    margin: 0 0.6510416666666666vw;
    text-decoration: none;
    color: #000;
}

.social-media img {
    width: 1.5625vw;
    height: 1.5625vw;
    margin-right: 0.5208333333333334vw;
    opacity: 30%;
}

.social-media span {
     font-size: 0.9114583333333334vw;
    line-height: 1.5625vw; 
    margin-top: 0.2604166666666667vw; 
   
}

.partners {
    flex: 1;
    text-align: right;
    margin-right: -8.7890625vw;
    opacity: 70%;
}

.partners p {
    margin: 3.2552083333333335vw 0;
}

.footer-bottom {
    text-align: center;
    margin-top: 1.3020833333333333vw;
    padding-top: 0.6510416666666666vw;
    border-top: 0.06510416666666667vw solid #ccc;
    opacity: 30%;
}


a {
    text-decoration: none;
    color: inherit;
} 


/*sabores*/
 body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    
}

.container {
    display: flex;
    height: 100vh;
    overflow-x: auto; 
    width: 100%;
    white-space: nowrap;
    
}

.flavor {
    flex: 0 0 25%;
    display: inline-flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    padding: 0;
    box-sizing: border-box;
    position: relative;
    overflow: hidden; 
    
}

#morango {
    background-color: #FECAB4;
}

#kiwi {
    background-color: #AFC33499;
}

#ananas {
    background-color: #FFF490;
}

#laranja {
    background-color: #FFB284;
}

#melancia {
    background-color: #FF686F;

}

#melancia img{
    margin: 0.11067708333333333vw 0;
}

#banana {
    background-color: #FDFF84;
}

#caipirinha {
    background-color: #C4FFB6;
}

#fitness {
    background-color: #FCBA9A;
}

.fruit {
    width: 17%;
}

.popsicle {
    width: 30%;
    margin-top:  0.6510416666666666vw;
}

#morango h2, #kiwi h2, #ananas h2, #laranja h2, #melancia h2, #banana h2, #fitness h2 {
    position: absolute;
    top: 30%;
    left: 50%;
    transform: translate(-50%, -50%);
    margin: 0;
    font-size: 4vw;
    text-align: center;
    padding: 0  0.6510416666666666vw;
    z-index: 10;
    font-family: Roboto Serif;
}
#caipirinha h2{
    position: absolute;
    top: 30%;
    left: 50%;
    transform: translate(-50%, -50%);
    margin: 0;
    font-size: 3.5vw;
    text-align: center;
    padding: 0  0.6510416666666666vw;
    z-index: 10;
    font-family: Roboto Serif;
}

#morangotxt {
    color: #E22D38;
}

#kiwitxt {
    color: #8AA111;
}

#ananastxt {
    color: #622E19;
}

#laranjatxt {
    color: #C33C00;
}

#melanciatxt {
    color: #004F00;
    
}

#bananatxt {
    color: #EAEF1E;
}

#caipirinhatxt {
    color: #006E02;
}

#fitnesstxt {
    color: #9C0048;
}

.overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.7);
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    padding: 1.6276041666666667vw;
    opacity: 0;
    transition: opacity 0.5s ease;
}

.overlay p strong:first-child {
    font-family: Rampart One;
    font-size: 1.5vw;
    color: red;
  
}

.overlay p strong {
    font-family: Cabin;
    font-size: 1.5vw;
    color: rgb(208, 96, 96);
   
}

.overlay p {
    font-size: 1.25vw;
    line-height: 1.4; 
    color: #F2F2F2;
   
}

#morango:hover #morangotxt {
    opacity: 0.2;
    transition: opacity 0.5s ease; 
}

.overlaykiwi {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.7);
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    padding: 1.6276041666666667vw;
    opacity: 0;
    transition: opacity 0.5s ease;
}

#overlaykiwi p strong:first-child {
    font-family: Rampart One;
    font-size: 1.5vw;
    color: rgb(0, 157, 0);
}

#overlaykiwi p strong {
    font-family: Cabin;
    font-size: 1.5vw;
    color: rgb(97, 255, 165);
    opacity: 70%;
}

#kiwi:hover #kiwitxt {
    opacity: 0.2; 
    transition: opacity 0.5s ease; 
}

.overlayananas {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.7);
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    padding: 1.6276041666666667vw;
    opacity: 0;
    transition: opacity 0.5s ease;
}



#overlayananas p strong:first-child {
    font-family: Rampart One;
    font-size: 1.5vw;
    color: yellow;
}

#overlayananas p strong {
    font-family: Cabin;
    font-size: 1.5vw;
    color: rgb(255, 248, 106);
    opacity: 90%;
}

#ananas:hover #ananastxt {
    opacity: 0.2; 
    transition: opacity 0.5s ease;
}

.overlaylaranja {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.7);
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    padding: 1.6276041666666667vw;
    opacity: 0;
    transition: opacity 0.5s ease;
}



#overlaylaranja p strong:first-child {
    font-family: Rampart One;
    font-size: 1.5vw;
    color: orange;
}

#overlaylaranja p strong {
    font-family: Cabin;
    font-size: 1.5vw;
    color: rgb(255, 175, 71);
    opacity: 90%;
}

#laranja:hover #laranjatxt {
    opacity: 0.2; 
    transition: opacity 0.5s ease; 
}

.overlaymelancia {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.7);
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    padding: 1.6276041666666667vw;
    opacity: 0;
    transition: opacity 0.5s ease;
}

#overlaymelancia p strong:first-child {
    font-family: Rampart One;
    font-size: 1.5vw;
    color: red;
}

#overlaymelancia p strong {
    font-family: Cabin;
    font-size: 1.5vw;
    color: #FF4444;
    opacity: 90%;
}

#melancia:hover #melanciatxt {
    opacity: 0.2; 
    transition: opacity 0.5s ease; 
}

.overlaybanana {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.7);
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    padding: 1.6276041666666667vw;
    opacity: 0;
    transition: opacity 0.5s ease;
}

#overlaybanana p strong:first-child {
    font-family: Rampart One;
    font-size: 1.5vw;
    color: yellow;
}

#overlaybanana p strong {
    font-family: Cabin;
    font-size: 1.5vw;
    color: rgb(255, 251, 0);
    opacity: 90%;
}

#banana:hover #bananatxt {
    opacity: 0.2; 
    transition: opacity 0.5s ease; 
}

.overlaycaipirinha {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.7);
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    padding: 1.6276041666666667vw;
    opacity: 0;
    transition: opacity 0.5s ease;
}

#caipirinha img{
    z-index: 10;
    margin: 1.3vw 0;
}
#caipirinha:hover img{
    opacity: 20%;
    transition: opacity 0.5s ease;
}



#overlaycaipirinha p strong:first-child {
    font-family: Rampart One;
    font-size: 1.5vw;
    color: limegreen;
}

#overlaycaipirinha p strong {
    font-family: Cabin;
    font-size: 1.5vw;
    color: rgb(50, 205, 50);
    opacity: 90%;
}

#caipirinha:hover #caipirinhatxt {
    opacity: 0.2; 
    transition: opacity 0.5s ease; 
}

.overlayfitfitness {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.7);
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    padding: 1.6276041666666667vw;
    opacity: 0;
    transition: opacity 0.5s ease;
}

#fitness img{
    z-index: 10;
    margin: 1.2vw 0;
}

#fitness:hover img{
    opacity: 20%;
    transition: opacity 0.5s ease;
}

#overlayfitness p strong:first-child {
    font-family: Rampart One;
    font-size: 1.5vw;
    color: white;
}

#overlayfitness p strong {
    font-family: Cabin;
    font-size: 1.8vw;
    color: #D76097;
    opacity: 90%;
}

#fitness:hover #fitnesstxt {
    opacity: 0.2; 
    transition: opacity 0.5s ease; }


.flavor:hover .overlay {
    opacity: 1;
}